.generalPaginaPersonajes{
    display: flex;
    justify-content:center;
    align-items: center;
  
}
.generalPersonaje{
    justify-content: center;
    align-items: center;
    display: flex;
    align-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: antiquewhite;
    border-radius: 15%;
    padding: 30px;

}
.generalPersonaje img{
    border: 2px dashed green;
    border-radius: 20%;
}
.generalPersonaje h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkgreen;
}
.generalPersonaje h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}