
.mainContainer{
  display:flex;
  flex-direction:column;
  min-height: 100vh; 
  padding:32px;
  background: black;
  align-items:center;
  gap:25px;
  color:aliceblue
 
}
.headerContainer{
  margin-bottom: 30px;
}
.tituloPrincipal{
  font-size:38px;
  background: linear-gradient(90deg, #ff7a18, #ffb347);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
.searchContainer{
  display:flex;
  flex-wrap:wrap;
  gap:15px;
  align-items:center;
  justify-content:center;
}
.buscador{
  display:flex;
  gap:10px;
  align-items:center;
}
.buscador input{
  padding:8px 10px;
  border-radius:6px;
  border:1px solid #7777779a;
}
.buscador button{
  padding:8px 15px;
  border:none;
  background: linear-gradient(90deg, #ff7a18, #ffb347);
  color: rgb(0, 0, 0);
  color:rgb(19, 19, 19);
  border-radius:6px;
  cursor:pointer;
}
.buscador button:hover{
  background:#e75a27;
}

button{
   padding:8px 15px;
  border:none;
  background: linear-gradient(90deg, #ff7a18, #ffb347);
  color: rgb(0, 0, 0);
  color:rgb(4, 4, 4);
  border-radius:6px;
  cursor:pointer;
}

button:hover{
  background:#e75a27;
}
.botonBorrarFiltros{
   background: linear-gradient(90deg, #ff7a18, #ffb347);
  color:rgb(0, 0, 0);
}
.infoContainer{
  margin-bottom: 20px;
}
.cocktailContainer{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:25px;
  max-width:1000px;
}