.generalCharacterCard{
  display: flex;
  justify-content: center;
  align-items: center;
flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
 
}
.infoCharacter{
    display:flex;
    flex-direction: column; 
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.infoCharacter h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(245, 200, 20);
}